*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
img{
    vertical-align: middle;
    border: none;
}
a{
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
body{
    color: #333;
    font-size: 16px;
}